@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body{
    background: #E9EBF2;
    flex: 1;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.titulo{
    max-width: 200px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Graduate';
  
    
}
.imagem{
    
    width: 90px;
    height: 90px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    font-size: 2rem;
    color: #ffffff;
    margin: 3rem 0rem;
    height: 60px;
    border-radius: 1rem;
    border: #017ee4;
    background-color: #017ee4;
    font-family: 'Graduate';
    transition: 0.2s;
    cursor: pointer;
  
}
.button:hover{
    opacity: 0.8;
}
.body button:hover{
    width: 21rem;
    height: 65px;
}
.body{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body Input{
    margin-bottom: 4rem;
}
.btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fotter{
    display: flex;
    margin-top:3rem;
    align-items: center;
    flex-direction: column;
}

#githublink{
    color: #017ee4;
}
#githublink:hover{
    color: #044377;
    cursor: pointer;
}

@media(min-width:700px){
    .body{
        margin-top: 5rem;
        display: flex;
       padding-right: 2rem;
       padding-left: 2rem;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .btn{
        display: flex;
        flex-direction: column;
    }
}